<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Client Input Details</title>
</head>
<body>
<section>
    <div class="container w-50% ">
        <form class="shadow p-3 mb-5 bg-body rounded" th:action="@{/client_input_details}" method="post" th:object="${client}">
            <div class="container w-85">
                <!-- header image and heading  -->
                <div class="row m-3">
                    <div class="col-sm-7">
                        <h1 class="mt-5">GET FIT with us
                        </h1>
                        <h2>
                            ......
                        </h2>
                    </div>
                    <div class="col-sm-3  mr-4">
                        <img w-75
                             src="https://www.jotform.com/uploads/aasthaadubeyy/form_files/download.63615ff1f00281.47122813.jpg"
                             alt="get fit illustration" />

                    </div>
                    <div class="col-lg-1"></div>

                </div>
                <hr>
                <!-- input details start -->
                <div class="row m-4">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8 ">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" th:value="${client.firstName}" name="firstName">
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" th:value="${client.lastName}" name="lastName">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row m-3">
                    <label for="sex" class="col-sm-4 col-form-label">Sex</label>
                    <div class="col-sm-8">
                        <select id="sex" class="form-select" th:value="${client.sex}" name="sex">
                            <option selected>choose</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>

                <div class="row m-3">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" th:value="${client.email}" name="email">
                    </div>
                </div>
                <div class="row m-3">
                    <label for="contactNo" class="col-sm-4 col-form-label">Contact</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="contactNo" placeholder="(000) 00 0000" th:value="${client.contactNumber}" name="contactNumber">
                    </div>
                </div>
                <div class="row m-3">
                    <label class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <div class="row mb-3">
                            <label for="address1" class="col-sm-4 col-form-label">Address 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="address1" placeholder="1234 Main St" th:value="${client.address1}" name="address1">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="address2" class="col-sm-4 col-form-label">Address 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor" th:value="${client.address2}" name="address2">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" th:value="${client.city}" name="city">
                            </div>
                            <div class="col-md-6">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state" th:value="${client.state}" name="state">
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-md-7">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="country" th:value="${client.country}" name="country">
                            </div>
                            <div class="col-md-5">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" th:value="${client.zipCode}" name="zipCode">
                            </div>
                        </div>
                    </div>


                    <hr>



                    <div class="row m-1">
                        <div class="row m-3">
                            <label for="username" class="col-sm-4 col-form-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" th:value="${client.userName}" name="userName">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label for="password" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" th:value="${client.password}" name="password">
                            </div>
                        </div>

                    </div>

                    <hr>


                    <div class="row m-1">
                        <div class="row m-3">
                            <label for="weight" class="col-sm-4 col-form-label">Weight</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="weight" placeholder="in kgs" th:value="${client.weight}" name="weight">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label for="height" class="col-sm-4 col-form-label">Height</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="height" placeholder="inches" th:value="${client.height}" name="height">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label for="age" class="col-sm-4 col-form-label">Age</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="age" th:value="${client.age}" name="age">
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row m-1">
                        <div class="row m-3">
                            <label class="col-sm-4 col-form-label">Taking any medications,currently?</label>
                            <div class="col-sm-8">
                                <div class="form-check mb-1 ">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="yesMedication">
                                    <label class="form-check-label" for="yesMedication">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check mt-1 ">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="noMedication" checked>
                                    <label class="form-check-label" for="noMedication">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="row m-4">
                            <label for="aboutMedication" class="col-sm-4 col-form-label">If Yes,please list it here </label>
                            <div class="form-floating col-sm-8">
                <textarea class="form-control" placeholder="Leave a comment here" id="aboutMedication"
                          style="height: 100px"></textarea>
                            </div>

                        </div>

                        <hr>
                        <div class="col-sm-10 "></div>
                        <div class="col-sm-1 m-1">
                            <button type="submit" class="btn btn-secondary text-white">Next</button>
                        </div>


                    </div>
                </div>
        </form>
    </div>
</section>
</body>
</html>